<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{text-align:center;margin:0 auto;}
        .hang{width:100%;padding:5px;}
    </style>
</head>
<body>
<h1>xiehui</h1>
<hr/>
<form>
    <div class="hang">
       姓名：<input type="text" id="name"/>
    </div>
    <div class="hang">
        密码：<input type="text" id="password"/>
    </div>
    <div id="msg" class="hang">

    </div>
</form>
    <button id="btn">添加</button>
</body>
<script src="js/jquery.min.js"  th:src="@{/js/jquery.min.js}"></script>
<script>
    $(function(){
        $("#btn").click(function(){
             $.ajax({
                //请求方式
                type : "POST",
                //请求地址
                url : "/msg/set/",
                //数据，json字符串
                data : {
                    name:$("#name").val(),
                    password:$("#password").val()
                },
                //请求成功
                success : function(result) {
                    console.log(result);
                    $("#msg").html(result);
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        });
    });
</script>
</html>